.gallery {
    
    
}

.grid {
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    display: grid;
    width: 1000px;
    align-items: start;
    justify-items: space-between;
    
    
}

.div1 {
    background-image: "";
    width: 200%;
    height: 200px;
    background-color: purple;
    
}

.div2 {
    background-image: "";
    width: 50%;
    height: 125px;
    background-color: red;
    
}

.div3 {
    background-image: "";
    width: 100%;
    height: 125px;
    background-color:blue;

}

.div4 {
    background-image: "";
    width: 100%;
    height: 125px;
    background-color: green;
}

.div5 {
    background-image: "";
    width: 100%;
    height: 125px;  
    background-color: yellow;
}
.div6 {
    background-image: "";
    width: 100%;
    height: 125px;
    background-color:black;
    
}
.div7 {
    background-image: "";
    width: 
    height: 
    background-color:
    
}
.div4 {
    background-image: "";
    width: 
    height: 
    background-color:
    
}
.div8 {
    background-image: "";
    width: 
    height: 
    background-color:
    
}
.div9 {
    background-image: "";
    width: 
    height: 
    background-color:
    
}







